body {
    background-color: aliceblue;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tarja {
    background-color: darkgray;
    display: block;
    block-size: auto;
    width: auto;
    height: 40px;
    padding: 10px;
    margin: 0px;
}

.pageTitle {
    display: flex;
    flex-direction: row;
}

#ser {
    color: chartreuse; 
    padding: 0px;
    margin: 0px;
}
#dev {
    color: bisque;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: aqua;
}