body {
    background-color: aliceblue;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: aqua;
}
a {
    text-decoration: none;
}


/* class */

.tarja {
    background-color: darkgray;
    border-bottom: 2px #d7fca6 solid;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 40px;
    padding: 10px;
    margin: 0px;
}

.link {
    color: #d7fca6;
    display: flex;
    flex-direction: row;
    width: 80px;
    height: 10px;
    padding: 10px 0px;
    justify-content: center;
}
.link:hover {
    padding: 4;
    margin: 4;
    color: #fdc356;
    border: 2px solid #d7fca6;
    border-radius: 8px;
    align-items: center;
}

.page_reader {
    width: 720px;
    margin: 10px auto 10px auto;

}

/* id's */
#ser {
    color: #d7fca6; 
    padding: 0px;
    margin: 0px;
    float: left;
}
#dev {
    color: #fdc356;
    padding: 0px;
    margin: 0px;
    float: left;
}

#title {
    width: 720px;
    margin: 0 auto;
}

#menu {
    display: flex;
    flex-direction: row;
    float: right;
    height: 200px;
    width: 200;
}

#post {
    background-color: #fff;
}

#post_0 {
    display: block;
    float: right;
}

#picture_post_0 {
    display: block;
    float: right;
    width: 180px;
    height: 120px;
}